#progressBar {
	width: 100%;
	height: 10px;
	/*background-color: black;*/
	display: none;
	margin-top: 1px;
}

#progressBar div {
	height: 100%;
	width: 0;
	background-color: #FF0000;
}
		
#newBar {
	display: inline;
	background-color: #FF0000;
}
