body{
	padding: 0px;
	margin: 0px;
}

#main_content_div{
	width: 98%;
	
	margin: 0 auto;
	background-color: #FFFFFF;
}

#top_banner_div{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #666666;
}

#logo_div{
	width: 50%;
	height: 100px;
	float: left;
}

#top_buttons_div{
	width: 50%;
	height: 100px;
	float: left;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#search_button, #feedback_button{
	background-color: #666666;
	color: #FFFFFF;
	cursor: pointer;
	border: 1px solid #666666;
	width: 70px;
	height: 35px;
	display: inline-block;
	margin-top: 35px;
	/* fade-in na transicao da cor (on hover) */
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

	#search_button:hover, #feedback_button:hover{
		background-color: #FFFFFF;
		color: #666666;
		cursor: pointer;
		border: 1px solid #666666;
		width: 70px;
		height: 35px;
	}

.content {
  width: 98%;
  height:0px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}
.panel-group {
  width:430px;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(-100%) rotate(-90deg);
  -webkit-transform-origin: right top;
  -moz-transform: translateX(-100%) rotate(-90deg);
  -moz-transform-origin: right top;
  -o-transform: translateX(-100%) rotate(-90deg);
  -o-transform-origin: right top;
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: right top;
}
.panel-heading {
  width: 430px;
}
.panel-title {
  height:18px
}
.panel-title a {
  float:right;
  text-decoration:none;
  padding: 10px 430px;
  margin: -10px -430px;
}
.panel-body {
  height:830px;
}
.panel-group img {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0%) rotate(90deg);
  -webkit-transform-origin: left top;
  -moz-transform: translateX(0%) rotate(90deg);
  -moz-transform-origin: left top;
  -o-transform: translateX(0%) rotate(90deg);
  -o-transform-origin: left top;
  transform: translateX(0%) rotate(90deg);
  transform-origin: left top;
}
.panel-group .panel img {
  margin-left:400px;
  position: absolute;
}
