.separator { height: 50%; }

.logo {
	text-align: center;
	font-size: 40px;
	font-family: Impact, "Arial Black"; /* Not perfect, but :\ */
	line-height: 100px;
}

#YouTube {
	text-shadow: .02em .02em 0.06em rgba(0,0,0,0.4);
}

#Lyrics{
	padding: 0.05em .15em;
	border: .05em solid red;
	box-shadow: .02em .02em 0.06em rgba(0,0,0,0.4);
	border-radius: 17.5%;
	background-color:red;
	background-image: radial-gradient(100% -100%, circle cover, #ffffff, #ee3e3e 55%, #c72427 100%);
	color: white;
	text-stroke: 5px #c03036;
}