.separator { height: 50%; }

.logo {
	text-align: center;
	font-size: 25px;
	font-family: Impact, "Arial Black"; /* Not perfect, but :\ */
	line-height: 45px;
}

#YouTube {
	color: #E8E8E8;
	text-shadow: .02em .02em 0.06em rgba(0,0,0,0.4);
}

#Lyrics{
	padding: 0.05em .15em;
	border: .05em solid #CC181E;
	box-shadow: .02em .02em 0.06em rgba(0,0,0,0.4);
	border-radius: 17.5%;
	background-color:#CC181E;
	background-image: radial-gradient(100% -100%, circle cover, #ffffff, #ee3e3e 55%, #c72427 100%);
	color: #FFFFFF;
	text-stroke: 5px #c03036;
}